Data type and structure
1. What are data structures, and why are they important?
- Data structures are ways of organizing and storing data so that it can be
  accessed and modified efficiently.
  They are important because they help in optimizing the use of resources and
  speed up program execution.
2.Explain the difference between mutable and immutable data types with examples
-Mutable: Can be changed after creation (e.g., list, dict, set).
 Example:

In [1]:
my_list = [1, 2, 3]
my_list[0] = 10  # Allowed

Immutable: Cannot be changed after creation (e.g., int, str, tuple).
Example:

In [2]:
my_str = "hello"
my_str[0] = 'H'  # Error

TypeError: 'str' object does not support item assignment

3.What are the main differences between lists and tuples in Python?
- Feature	List	Tuple
Mutability	Mutable	Immutable
Syntax	[]	()
Performance	Slower	Faster
Use case	Changing data	Fixed data

4.Describe how dictionaries store data.
- Dictionaries store data in key-value pairs using a structure called a hash table, which allows fast access using unique keys.

Example:

In [3]:
student = {"name": "Ali", "age": 20}

5.Why might you use a set instead of a list in Python?
- . To remove duplicates

  .  For faster membership testing (e.g., x in set)

  .  When order doesn't matter
6. What is a string in Python, and how is it different from a list?
- . A string is a sequence of characters and is immutable.

  . A list is a sequence of elements that can be of any data type and is mutable.
7. How do tuples ensure data integrity in Python?
- Tuples are immutable, meaning their values can’t be changed after creation. This protects data from accidental modification.
8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hash function.
Python dictionaries are implemented using hash tables for fast lookup.
9. Can lists contain different data types in Python?
 - Yes, lists can hold elements of mixed data types.
Example:

In [4]:
my_list = [1, "hello", 3.14, True]

10. Explain why strings are immutable in Python.
-Strings are immutable for security, performance, and memory optimization reasons. It also allows for hashing (so they can be used as dictionary keys).
11.  What advantages do dictionaries offer over lists for certain tasks?
 . Faster lookups using keys

 . More readable when working with named data

 . Better organization for related data
12. Describe a scenario where using a tuple would be preferable over a list.
- When storing coordinates like (x, y) or dates, use tuples because the values should not change.
13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicates.
Example:

In [5]:
set([1, 2, 2, 3])  # Output: {1, 2, 3}

{1, 2, 3}

14.  How does the “in” keyword work differently for lists and dictionaries?
  List: Checks if the value is present.

  Dict: Checks if the key is present, not the value.
15. Can you modify the elements of a tuple? Explain why or why not.
 - No, because tuples are immutable. Once created, their elements cannot be changed.
16. What is a nested dictionary, and give an example of its use case
A dictionary inside another dictionary.
Example:

In [6]:
students = {
    "101": {"name": "Ali", "age": 20},
    "102": {"name": "Zara", "age": 21}
}

17. Describe the time complexity of accessing elements in a dictionary.
  - Average case: O(1)

  - Worst case (rare): O(n)
18. n what situations are lists preferred over dictionaries?
When:

You need ordered data

You only care about values (no key-value structure)

You’re working with sequences
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Before Python 3.7, dictionaries did not maintain insertion order.
Now, they do retain order, but retrieval is still based on keys, not position.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
List: Use index to access values (e.g., list[0])

Dictionary: Use key to access values (e.g., dict["name"])

In [51]:
name = "Riya"
print(name)

Riya

In [50]:

s = "Hello World"
print(len(s))

11

In [49]:

s = "Python Programming"
print(s[:3])  # Output: Pyt

Pyt

In [48]:
print("hello".upper())  # Output: HELLO

HELLO

In [47]:
s = "I like apple"
print(s.replace("apple", "orange"))  # Output: I like orange

I like orange

In [46]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [45]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [44]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [43]:
chars = ['a', 'b', 'c', 'd']
print(chars[1])  # Output: b

b

In [42]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [41]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [40]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])  # Output: blue

blue

In [39]:
nums = (10, 20, 5, 15)
print(min(nums))  # Output: 5

5

In [38]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))  # Output: 1

1

In [37]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)  # Output: False

False

In [36]:
s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

In [35]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)  # Output: set()

set()

In [34]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [33]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [32]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))  # Output: {2, 3}

{2, 3}

In [31]:
info = {"name": "John", "age": 25, "city": "New York"}
print(info)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [30]:
info = {'name': 'John', 'age': 25}
info['country'] = "USA"
print(info)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [29]:
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [28]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [27]:
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)  # Output: True

True

In [26]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [25]:
import random
rand_nums = random.sample(range(1, 101), 5)
rand_nums.sort()
print(rand_nums)

[46, 56, 60, 65, 73]

In [24]:
words = ["one", "two", "three", "four", "five"]
print(words[3])  # Output: four

four

In [23]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [22]:
str_list = ["apple", "banana", "cherry"]
str_set = set(str_list)
print(str_set)

{'banana', 'cherry', 'apple'}